
/* Ho aggiunto delle media query anche per display più grandi, perchè avendo un 34" ho notato che gli album diventavano troppo grandi  */
@media screen and (min-width: 1900px){
    .album-wrapper{
        gap: 3%;
    }

    .album-wrapper .album-card{
        flex-basis: calc(82% / 7);
    }

    .overlay > a{
        font-size: calc(1vw + 30px);
    }
}

@media screen and (min-width: 2500px){
    .album-wrapper{
        gap: 2%;
    }

    .album-wrapper .album-card{
        flex-basis: calc(84% / 9);
    }

    .overlay > a{
        font-size: calc(1vw + 35px);
    }
}

@media screen and (max-width: 878px){
    *{
        transition: gap 600ms;
    }

    .album-wrapper{
        gap: 4%;
    }

    .album-wrapper .album-card{
        flex-basis: calc(88% / 4);
        min-width: 150px;
    }

    .overlay > a{
        font-size: calc(1vw + 25px);
    }

    .album-wrapper{
        flex-wrap: nowrap;
        overflow-x: auto; /* Per far andare gli elementi a destra con una scroll bar invece che farli incolonnare */
    }
}
/* La media query sotto i 640px la commento perchè ho adottato il metodo richiesto come bonus  */

/* @media screen and (max-width: 640px){
    .album-wrapper{
        gap: 5%;
    }
    
    .album-wrapper .album-card{
        flex-basis: calc(95% / 2);
    }

    .overlay > a{
        font-size: calc(2vw + 20px);
    }  
} */

@media screen and (max-width: 552px){
    .main-container .sidebar{
        flex-basis: 50px;
        padding: 8px 10px;
        z-index: 11;
        transition: 300ms;
    }

    .sidebar .logo .logo-large{
        display: none;
    }

    .sidebar .logo .logo-small{
        display: block;
    }

    .sidebar .logo{
        width: 28px;
        margin: 0 auto;
    }

    .sidebar .sidebar-nav{
        padding: 10px 0;
    }

    .sidebar nav{
        flex-grow: 1;
    }

    .sidebar .nav-element{
        padding-left: 0;
        border-left: none;
        justify-content: center;
        align-items: center;
    }
    
    .sidebar .nav-element span{
        display: none;
    }
    
    .playlist-wrapper{
        overflow: hidden;
        padding: 0;
        display: none;
    }

    .sidebar .sidebar-playlist > h3{
        display: none;
    }

    .sidebar-playlist .new-playlist{
        display: none;
    }

    .sidebar-footer{
        padding: 0;
    }

    .sidebar-footer .install a > span,
    .sidebar-footer .artist > span,
    .sidebar-footer .install::after{
        display: none;
    }

    .sidebar-footer .artist .artist-profile{
        margin: 10px auto;
        display: block;
    }
    
    .sidebar .install{
        padding: 10px;
    }
    .main-contents .banner{
        width: calc(100% - 50px);
        height: 90px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        position: fixed;
        top: 0;
        right: 0;
    }
}

@media screen and (max-height: 530px){

    .main-contents .banner{
        display: none;
    }

    .main-contents .contents-wrapper{
        padding: 30px 20px 20px 20px;
        transition: 500ms;
    }
}