html{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
}

ul, li{
    list-style-type: none;
}

img{
    width: 100%;
}

/* Gestione del layout principale della pagina   */
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

   /* MAIN   */
.main-container{
    background-color: #141922;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.player-container{
    height: 90px;
    background-color: #282828;
    /* z-index: 5; */
}

.main-container .sidebar{
    flex-basis: 225px;
    padding: 20px;
    background-color: black;
}

.sidebar .logo{
    width: 130px;
}

.sidebar .logo .logo-small{
    display: none;
}

   /* FOOTER   */
.player-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player-container .player-song, .player-container .player-volume{
    flex-basis: 225px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* parte sinistra del footer  */
.player-song .album .album-cover{
    width: 42px;
    height: 42px;
    display: inline-block;
    vertical-align: middle;
}

.player-song .album .album-info{
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 13px;
    margin-left: 10px;
}

.player-song .album .album-info span{
    font-size: 11px;
    font-weight: 700;
    color: #878787;
}

.player-song .saved{
    color: #878787;
    line-height: 42px;
}

.player-song .saved a{
    margin-left: 10px;
}
/* parte centrale del footer  */
.player-container .player-action{
    flex-grow: 1;
}

.player-action .song-action, .player-action .time-action{
    margin: 0 auto;
}

     /* DEBUG    */

.debug .player-song, .debug .player-volume{
    border: 1px solid blue;
}

.debug .player-action{
    border: 1px solid yellow;
    padding: 20px;
}

.debug .player-song .album{
    border: 1px solid red;
    /* padding: 15px; */
}

.debug .player-song .saved{
    border: 1px solid red;
    /* padding: 15px; */
}

.debug .player-action .song-action{
    border: 1px solid red;
    padding: 10px;
    width: 20%;
}

.debug .player-action .time-action{
    border: 1px solid red;
    padding: 10px;
    width: 50%;
}

.debug .player-volume .tail{
    border: 1px solid red;
    padding: 15px;
}

.debug .player-volume .cast{
    border: 1px solid red;
    padding: 15px;
}

.debug .player-volume .volume{
    border: 1px solid red;
    padding: 15px;
}

.debug .player-volume .volume-level{
    border: 1px solid red;
    padding: 15px;
}