html{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
}

ul, li{
    list-style-type: none;
}

img{
    width: 100%;
}

/* Gestione del layout principale della pagina   */
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

   /* MAIN   */
.main-container{
    background-color: #141922;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.player-container{
    height: 90px;
    background-color: #282828;
    /* z-index: 5; */
}

/* MAIN sidebar   */
.main-container .sidebar{
    flex-basis: 225px;
    flex-shrink: 0;
    background-color: black;
    display: flex;
    flex-direction: column;

}

.sidebar .logo{
    width: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.sidebar .logo .logo-small{
    display: none;
}

.sidebar .sidebar-playlist{
    flex-grow: 1;
}

   /* FOOTER   */
.player-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player-container .player-song, .player-container .player-volume{
    flex-basis: 225px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 42px;
}

/* parte sinistra del footer  */
.player-song .album .album-cover{
    width: 42px;
    height: 42px;
    display: inline-block;
    vertical-align: middle;
}

.player-song .album .album-info{
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 13px;
    margin-left: 10px;
}

.player-song .album .album-info span{
    font-size: 11px;
    font-weight: 700;
    color: #878787;
}

.player-song .album{
    white-space: nowrap;
}

.player-song .saved{
    color: #878787;
    line-height: 42px;
    white-space: nowrap;
}

.player-song .saved a{
    margin-left: 10px;
}

/* parte centrale del footer  */
.player-container .player-action{
    flex-grow: 1;
}

.player-action .song-action, .player-action .time-action{
    margin: 0 auto;
}

.player-action .song-action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    column-gap: 20px;
}

.player-action .song-action li:nth-child(3){
    font-size: 30px;
    margin: 0 10px;
}

.player-action .time-action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    padding: 5px 10px;
    max-width: 540px;
}

.player-action .time-action span{
    width: 40px;
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: 700;  
}

.time-action .song-duration{
    flex-grow: 1;
    height: 4px;
    max-width: 425px;
    border-radius: 5px;
    background-color: #5A5A5A;
    position: relative;
}

.time-action .elapsed-time{
    width: 20%;
    height: 4px;
    border-radius: 5px;
    background-color: #C1C1C1;
    position: absolute;
    top: 0;
    left: 0;
}

.time-action .elapsed-time-hover{
    width: 20%;
    height: 4px;
    border-radius: 5px;
    background-color: #1DB954;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50% , -30%);
}

.song-duration:hover .elapsed-time-hover{
    visibility: visible;
}

/* parte destra del footer  */
.player-volume li{
    text-align: center;
    color: #878787;
}

.player-volume .volume-level{
    height: 4px;
    width: 118px;
    border-radius: 5px;
    background-color: #5A5A5A;
    position: relative;
}

.player-volume .actual-volume{
    width: 20%;
    height: 4px;
    border-radius: 5px;
    background-color: #C1C1C1;
    position: absolute;
    top: 0;
    left: 0;
}

.player-volume .actual-volume-hover{
    width: 20%;
    height: 4px;
    border-radius: 5px;
    background-color: #1DB954;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.volume-level:hover .actual-volume-hover{
    visibility: visible;
}
     /* DEBUG    */
.debug .logo{
    border: 1px solid yellow;
}

.debug nav{
    border: 1px solid blue;
    padding: 10px;
}

.debug .sidebar-playlist{
    border: 1px solid greenyellow;
    padding: 10px;
}

.debug .sidebar-artist{
    border: 1px solid salmon;
    padding: 10px;
}

.debug .player-song, .debug .player-volume{
    border: 1px solid blue;
}

.debug .player-action{
    border: 1px solid yellow;
}

.debug .player-song .album{
    border: 1px solid red;
    /* padding: 15px; */
}

.debug .player-song .saved{
    border: 1px solid red;
    /* padding: 15px; */
}

.debug .player-action .song-action{
    border: 1px solid red;
    /* padding: 10px; */
}

.debug .player-action .time-action{
    border: 1px solid red;
}

.debug .player-volume .tail{
    border: 1px solid red;

}

.debug .player-volume .cast{
    border: 1px solid red;

}

.debug .player-volume .volume{
    border: 1px solid red;

}

.debug .player-volume .volume-wrapper{
    border: 1px solid red;

}